<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campus Cafeteria{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-content">
                <div class="nav-brand">
                    <img src="{% static 'img/Flat illustration Food logo.png' %}" alt="Campus Cafeteria Logo" class="logo-img">
                    <h1 class="nav-title">Campus Cafeteria</h1>
                </div>
                <div class="nav-buttons">
                    {% if user.is_authenticated %}
                        <span class="user-greeting">Hi, {{ user.first_name|default:user.username }}</span>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-red">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-orange">Login</a>
                        <a href="{% url 'register' %}" class="btn btn-gray">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Messages -->
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button class="alert-close" onclick="this.parentElement.remove()">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Main Content -->
    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'978fe95c03b2e242',t:'MTc1Njg0NjU2MC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>

